.App {
  font-family: sans-serif;
  text-align: center;
  background: #101518;
  width: 500px;
  height: 500px;
}

body {
  background: #101518;
}
.wrapper {
  left: 0;
  top: 0;
  width: 500px;
  height: 500px;
}
